/* Poppins Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Universal Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container {
    max-width: 1320px;
    margin: 120px auto;
    border-radius: 16px;
}

/* Hero Section Styles Start*/

.header-container {
    background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../images/banner-image.png');
    height: 600px;
    margin-top: 50px;
}

.header-container .header-text {
    width: 632px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.header-container .header-text p {
    color: #FFF;
    text-align: center;
    font-size: 32px;

}

.header-container .header-text h1 {
    color: #FFF;
    text-align: center;
    font-size: 72px;
    font-weight: 600;
    line-height: 95px;
}

/* Hero Section Styles End */

/* Discount Section Styles Start */
.discount-container {
    text-align: center;
}

.discount-container .discount-text h2 {
    color: #F00;
    font-size: 88px;
    font-weight: 700;
    margin-bottom: 48px;
}

.discount-container .discount-text h3 {
    color: #F00;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16px;
}

.discount-container .discount-text p {
    color: #070211;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 48px;
}

/* Discount Section Styles End */

/* Midnight Party Section Styles Start */

.midnight-party-container {
    background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../images/vector.png');
    padding: 126px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.midnight-party-container .midnight-party-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.midnight-party-container .midnight-party-content .midnight-party-text {
    width: 697px;
}

.midnight-party-container .midnight-party-content .midnight-party-text h2 {
    color: #FFF;
    font-size: 64px;
    font-weight: 700;
    line-height: 88px;
    letter-spacing: 7.04px;
    margin-bottom: 24px;
}

.midnight-party-container .midnight-party-content .midnight-party-text p {
    color: rgba(255, 255, 255, 0.80);
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 48px;
    text-align: justify;
}

.midnight-party-container .midnight-party-content .midnight-party-text button {
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    background-color: transparent;
    text-transform: uppercase;
    outline: none;
    border: none;
    margin-left: 32px;
    cursor: pointer;
}

.midnight-party-container .midnight-party-content .midnight-party-img {
    width: 320px;
}

.midnight-party-container .midnight-party-content .midnight-party-img img {
    display: block;
    width: 100%;
}

/* Midnight Party Section Styles End */

/* Park Hotel Section Styles Start */
.park-hotel-container {
    background-image: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);

}

.park-hotel-container .part-hotel-text {
    text-align: center;
    padding: 100px;
}

.park-hotel-container .part-hotel-text p {
    color: #070211;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
}

.park-hotel-container .part-hotel-text p span {
    color: #F00;
}

.park-hotel-container .part-hotel-text button {
    border-radius: 8px;
    background: #F00;
    padding: 16px 32px;
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    outline: none;
    margin-top: 48px;
    cursor: pointer;
}

/* Park Hotel Section Styles End */

/* Best Offer Section Styles Start */

.best-offer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.best-offer-container .best-offer-content .best-offer-text-left {
    width: 393px;
    text-align: left;
}

.best-offer-container .best-offer-content .best-offer-text-left h2 {
    color: #F00;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16px;
}

.best-offer-container .best-offer-content .best-offer-text-left h3 {
    color: #070211;
    font-size: 48px;
    font-weight: 800;
    text-transform: capitalize;
    margin-bottom: 22px;
}

.best-offer-container .best-offer-content .best-offer-text-left p {
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    line-height: 32px;
    text-align: justify;
}

.best-offer-container .best-offer-content .best-offer-img {
    padding: 30px;
    border: 15px solid #F00;
    border-radius: 50%;
}

.best-offer-container .best-offer-content .best-offer-img img {
    display: block;
    width: 100%;
}

.best-offer-container .best-offer-content .best-offer-text-right {
    width: 276px;
    text-align: left;
}

.best-offer-container .best-offer-content .best-offer-text-right h2 {
    color: #F00;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 16px;
}

.best-offer-container .best-offer-content .best-offer-text-right p {
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    line-height: 32px;
    margin-bottom: 43px;
}

/* Best Offer Section Styles End */

/* Holiday Sale Section Styles Start */



.holiday-sale-container .holiday-sale-text {
    text-align: center;
    width: 1068px;
    margin: auto;
}

.holiday-sale-container .holiday-sale-text h3 {
    color: #070211;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16px;
}

.holiday-sale-container .holiday-sale-text h2 {
    color: #070211;
    font-size: 72px;
    font-weight: 800;
    margin-bottom: 28px;
}

.holiday-sale-container .holiday-sale-text h2 span {
    color: #F00;
}

.holiday-sale-container .holiday-sale-text p {
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
    margin-bottom: 64px;
}

.holiday-sale-img {
    position: relative;
    height: 670px;
}

.holiday-sale-img .img1 {
    position: relative;
    top: -43px;
    left: 724px;
    z-index: 2;
}

.holiday-sale-img .img2 {
    position: relative;
    top: 6px;
    right: -580px;
}

.holiday-sale-img .img3 {
    position: relative;
    top: -434px;
    left: 0;
    z-index: 3;
}

.holiday-sale-img .img4 {
    position: relative;
    top: -672px;
    left: 0;
}

/* Holiday Sale Section Styles End */

/* Best Gift Section Styles Start */
.best-gift-container .best-gift-text {
    width: 896px
}

.best-gift-container .best-gift-text h2 {
    color: #F00;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16px;
}

.best-gift-container .best-gift-text h3 {
    color: #070211;
    font-size: 48px;
    font-weight: 800;
    text-transform: capitalize;
    margin-bottom: 22px;
}

.best-gift-container .best-gift-text p {
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    line-height: 32px;
}

.best-gift-img {
    margin-top: 48px;
    display: flex;
    flex-wrap: wrap;
    gap: 24px
}

/* Best Gift Section Styles End */

/* Newsletter Section Styles Start */
.newsletter-container {
    background-color: rgba(255, 0, 0, 0.05);
    padding: 80px;
    text-align: center;
    
}

.newsletter-container .newsletter-img img {
    margin-bottom: 40px;
}

.newsletter-container .newsletter-text {
    margin: auto;
    width: 896px;
}

.newsletter-container .newsletter-text h2 {
    color: #070211;
    font-size: 48px;
    font-weight: 800;
    margin-bottom: 22px;
    text-transform: capitalize;
}

.newsletter-container .newsletter-text p {
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    line-height: 32px;
    margin-bottom: 48px;
}
.newsletter-container .newsletter-form{
    width: 600px;
    margin:auto;
}

.newsletter-container .newsletter-form form {
    display: flex;
    justify-content: center;
    
}

.newsletter-container .newsletter-form form input {
    border-radius: 50px 0px 0px 50px;
    padding: 25px 30px;
    color: rgba(7, 2, 17, 0.30);
    font-size: 18px;
    border: none;
    outline: none;
    flex-grow: 1;
    color: #070211;
}


.newsletter-container .newsletter-form form button {
    border-radius: 0px 50px 50px 0px;
    background: #F00;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
    border: none;
    padding: 24px 56px;
    outline: none;
    cursor: pointer;
}

/* Newsletter Section Styles End */

/* Footer Section Styles Start */
footer {
    background-color: #070211;
    padding: 120px 0px;
}

.footer-container .footer-text-container {
    color: #FFF;
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-container .footer-text-container .footer-text {
    width: 400px;
    margin-bottom: 50px;
}

.footer-container .footer-text-container .footer-text p img{
    vertical-align: middle;
}

.footer-container .social-links {
    border-top: 1px solid rgba(255, 255, 255, 0.15);
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    padding: 48px 0px;
    text-align: center;
}

.footer-container .social-links a img{
    margin-right: 24px;
    font-size: 64px;
    vertical-align: middle;
}

.footer-container .footer-foot-container {
    color: #FFF;
    font-size: 24px;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-container .footer-foot-container .foot-text {
    margin-top: 50px;
}
.footer-container .footer-foot-container .foot-text p span{
    color: #F00;
}



/* Footer Section Styles End */