/* Poppins Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Universal Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container {
    max-width: 1320px;
    margin: 120px auto;
    border-radius: 16px;
}

/* Hero Section Styles Start*/

.header-container {
    background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../images/banner-image.png');
    height: 600px;
    margin-top: 50px;
}

.header-container .header-text {
    width: 632px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.header-container .header-text p {
    color: #FFF;
    text-align: center;
    font-size: 32px;
    font-weight: 400;
}

.header-container .header-text h1 {
    color: #FFF;
    text-align: center;
    font-size: 72px;
    font-weight: 600;
    line-height: 95px;
}

/* Hero Section Styles End */

/* Discount Section Styles Start */
.discount-container {
    text-align: center;
}

.discount-container .discount-text h2 {
    color: #F00;
    font-size: 88px;
    font-weight: 700;
    margin-bottom: 48px;
}

.discount-container .discount-text h3 {
    color: #F00;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16px;
}

.discount-container .discount-text p {
    color: #070211;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 48px;
}

/* Discount Section Styles End */

/* Midnight Party Section Styles Start */

.midnight-party-container {
    background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../images/vector.png');
    padding: 126px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.midnight-party-container .midnight-party-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.midnight-party-container .midnight-party-content .midnight-party-text {
    width: 697px;
}

.midnight-party-container .midnight-party-content .midnight-party-text h2 {
    color: #FFF;
    font-size: 64px;
    font-weight: 700;
    line-height: 88px;
    letter-spacing: 7.04px;
    margin-bottom: 24px;
}

.midnight-party-container .midnight-party-content .midnight-party-text p {
    color: rgba(255, 255, 255, 0.80);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 48px;
}

.midnight-party-container .midnight-party-content .midnight-party-text button {
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    background-color: transparent;
    text-transform: uppercase;
    outline: none;
    border: none;
    margin-left: 32px;
}

.midnight-party-container .midnight-party-content .midnight-party-img {
    width: 320px;
}

.midnight-party-container .midnight-party-content .midnight-party-img img {
    display: block;
    width: 100%;
}

/* Midnight Party Section Styles End */

/* Park Hotel Section Styles Start */
.park-hotel-container {
    background-image: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    
}

.park-hotel-container .part-hotel-text {
    text-align: center;
    padding: 100px;
}

.park-hotel-container .part-hotel-text p {
    color: #070211;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
}

.park-hotel-container .part-hotel-text p span {
    color: #F00;
}

.park-hotel-container .part-hotel-text button {
    border-radius: 8px;
    background: #F00;
    padding: 16px 32px;
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    outline: none;
    margin-top: 48px;
}

/* Park Hotel Section Styles End */